fastapi
uvicorn
httpx
pydantic
python-multipart
psycopg2-binary
sqlalchemy
slowapi
python-dotenv
loguru
requests
google-genai
openai
groq
fal_client
aiofiles
pillow
opencv-python-headless
numpy

stability-sdk
grpcio==1.62.2
grpcio-tools==1.62.2